@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome To Super Wings</h1>

        <img src="/WebApp6/Views/WebSiteImages/1.png" alt="Smiley face" width="100" height="100" />
        <img src="/WebApp6/Views/WebSiteImages/1.png" alt="" />
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>



<div>
    <li>
        //List All names
    </li>
</div>
